
<div class="introduction">

<div class="block" id="title">
	<h1>The cat app</h1>
<h2>Thinking about getting a cat but don't know which one or where to start?</h2>
</div>

<div class="boxcollection">
<div class="infobox">
	<div class="number">1.</div>
	<div>Create a cat-lover account</div>
</div>

<div class="infobox">
	<div class="number">2.</div>
	<div>Tell us a little more about your ideal cat</div>
</div>

<div class="infobox">
	<div class="number">3.</div>
	<div>We will come back with a few cat breeds that will fit your needs.</div>
</div>

<div class="infobox">
	<div class="number">4.</div>
	<div>Stay in our community for more awesome cat content!</div>
</div>
</div>




</div>