
<div class="introduction">

<div class="block" id="title">
	<h1>The cat app</h1>
<h2>Thinking about getting a cat but don't know which one or where to start?</h2>
</div>

<div class="boxcollection">
<div class="infoboxmain">
		<i class="fas fa-pen fa-6x"></i>
<br><br><br>
	<div>1. Create a cat-lover account</div>
</div>

<div class="infoboxmain">
<i class="far fa-file-alt fa-6x"></i>
<br><br><br>
	<div>2. Tell us a little more about your ideal cat</div>
</div>

<div class="infoboxmain">
<i class="fas fa-cat fa-6x"></i>
<br><br><br>
	<div>3. We will come back with a few cat breeds that will fit your needs.</div>
</div>

<div class="infoboxmain">
<i class="fas fa-atom fa-6x"></i>
<br><br><br>
	<div>4. Stay in our community for more awesome cat content!</div>
</div>
</div>




</div>