<div class="errorbox">
<img src="/images/questioning_cat.jpg" alt="questioning cat" width="230px" height="350px">
<div class="errorboxText">
<h1>404 Error</h1>
<h2>The page you're looking for does not seem to exist. Get used to it: cats love to hide stuff everywhere!</h2>
</div>
</div>