<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/signup" method="POST">
			<h1>Sign up</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="github"> <img src="/images/githublogo.png" width="90px" height="50px" alt="github"></i></a>
			</div>
     
			<span>or use your email for registration</span>
			<input type="text" placeholder="Username" name="username" />
			<input type="email" placeholder="E-mail" name="email" />
			<input type="password" placeholder="Password" name="password" />
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/login" method="POST">
			<h1>Log in</h1>
			<div class="social-container">
				<a href="/users/google" class="social"><i class="github"><img src="/images/githublogo.png" width="90px" height="50px" alt="github"></i></a>
			</div>
			<span>or use your account</span>
			<input type="text" placeholder="Username" name="username" />
			<input type="password" placeholder="Password" name="password" />
			<a href="#">Forgot your password?</a>
			<button type="submit">Log in</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
        
				<p>Enter your login information here to continue browsing the amazing world of cats.</p>
				<button class="ghost" id="signIn">Log In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, future cat lover!</h1>
				<p>Haven't signed up yet? Click here to get started.</p>

      
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p></p>
</footer>
</body>
</html>