<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Document</title>
</head>
<body>
  
<div class="navbar">
<a href="/logout">Log Out</a>
<a href="/profile/viewprofile">My profile</a>
</div>


<h3>Tell us more about some specifics your cat should have</h3>

<form method="POST" action="/private/filteringcats">
  <label for="adaptability">Adaptability :</label>
  <select id="adaptability" name="adaptability">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <label for="affectionLevel">Affection Level :</label>
    <select id="affectionLevel" name="affectionLevel">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <label for="dogFriendly">Dog Friendly :</label>
    <select id="dogFriendly" name="dogFriendly">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  
  <label for="intelligence">Intelligence :</label>
    <select id="intelligence" name="intelligence">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>


  <label for="rare">Rare :</label>
    <select id="rare" name="rare">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <button type="submit"> Look for your ideal cat</button>

  </form>
</body>
</html>