
<h3>Tell us more about some specifics your cat should have</h3>

<form method="POST" action="/private/filteringcats">
  <!-- <label for="adaptability">Adaptability :</label>
  <select id="adaptability" name="adaptability">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <label for="affectionLevel">Affection Level :</label>
    <select id="affectionLevel" name="affectionLevel">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <label for="dogFriendly">Dog Friendly :</label>
    <select id="dogFriendly" name="dogFriendly">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  
  <label for="intelligence">Intelligence :</label>
    <select id="intelligence" name="intelligence">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>


  <label for="rare">Rare :</label>
    <select id="rare" name="rare">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <button type="submit"> Look for your ideal cat</button> -->




  <div class="input-group mb-3 w-50">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Adaptability</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01" name="adaptability">
    <option selected>Choose...</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>


  <div class="input-group mb-3 w-50">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect02">Affection Level</label>
  </div>
  <select class="custom-select" id="inputGroupSelect02" name="affectionLevel">
    <option selected>Choose...</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>

  <div class="input-group mb-3 w-50">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect03">Dog Friendly</label>
  </div>
  <select class="custom-select" id="inputGroupSelect03" name="dogFriendly">
    <option selected>Choose...</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>

  <div class="input-group mb-3 w-50">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect04">Intelligence</label>
  </div>
  <select class="custom-select" id="inputGroupSelect04" name="intelligence">
    <option selected>Choose...</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>

  <div class="input-group mb-3 w-50">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect05">Rare</label>
  </div>
  <select class="custom-select" id="inputGroupSelect05" name="rare">
    <option selected>Choose...</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>
  
  <button type="submit"> Look for your ideal cat</button>

  </form>
