<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Results</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

  <h2>You could be interested to one of this: </h2>
  <div class="container">
    <div class="row row-cols-4">
      {{#each cats}}
       <div class="col">
        <h5>{{this.name}}</h5>
        <a href="filteringcats/{{this.id}}">See more specifics</a>
       </div>
      {{/each}}
    </div>
  </div>
  
</body>
</html>